        
 <br />
   <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div style="padding-top:50px;padding-bottom:30px" class="section-headline text-center">
            <header class="section-header">
          <h3 class="section-title">Why Choose Us</h3>
        </header>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pri_table_list active">
            <h3>North Vista <br/> <span>Licensed Consultants</span></h3>
            <ol>
              <li class="check">Finding the best school</li>
                 <li class="check">Admission processing</li>
              <li class="check ">Student personality assessment</li>
             
                <li class="check">Higher probability of admissions</li>
              <li class="check">Study Permits and Visa Services</li>
              <li class="check ">Travel and accommodation assistance</li>
              <li class="check ">Orientation upon arrival</li>
            </ol>
               
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="pri_table_list active ">
            <h3>Other Consultants <br/> <span></span></h3>
            <ol>
                    <li class="check">Finding the best school</li>
              <li class="check">Admission Processing</li>
                  <li class="check cross ">Student personality assessment</li>
                <li class="check cross">Higher probability of admission</li>
              <li class="check cross ">Study Permits and Visa Services</li>
              <li class="check cross ">Travel and accommodation assistance</li>
              <li class="check  cross">Orientation upon arrival</li>
            </ol>
           
          </div>
             
        </div>
     

    
      </div>
            <div class="">  <a   style="margin-bottom:20px;background:#b4292f;border-color:#b4292f;color:white"margin-top:20px""href="form.php" class="btn btn-success">Check Your Eligibility</a></div>
    </div>
  </div>
<br />