
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>North Vista Student Counselling</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../BizPage/img/favicon.png" rel="icon">
  <link href="../BizPage/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../BizPage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../BizPage/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../BizPage/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../BizPage/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../BizPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../BizPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../BizPage/css2/style.css" rel="stylesheet">
 
</head>

<body>

  <!--==========================
    Header
  ============================-->
 <header id="header">
    <div class="container-fluid">

      
    
       <a href="/home" class="scrollto container"><img src="../public/BizPage/unipic/logo.png" alt="" title="" width="12%" style="margin-top:-30px;display:inline-block" /></a>   <span style="color:#454444;font-style:italic;font-size:14px;margin:0;">A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>


       <nav id="nav-menu-container">
          <ul class="nav-menu">
          <li  ><a style="color:#454444"  href="/home">Home</a></li>
          <li ><a style="color:#454444" href="/aboutus">About Us</a></li>
             <li  class="menu-has-children "><a style="color:#454444" href="">Students</a>
            <ul>
                 <li><a style="color:#454444" href="/how-it-works">How to Apply?</a></li>
             
              <li><a style="color:#454444" href="/eligibility-form/new">Check Eligibility</a></li>
                 <li><a style="color:#454444" href="/life-in-canada">Life in Canada</a></li>
                 <li><a style="color:#454444" href="/search">Search Institutes</a></li>
                
            </ul>
          </li>
  <li  class="menu-has-children class="menu-active" "><a style="color:#454444" href="/faq">FAQ</a>
       
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->




  <main id="main">

 

 
     
      <section id="faq" style="margin-top:140px">
<div class="faq-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-header wow fadeInUp">
          <h3>Faq Questions</h3>
         
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md- col-sm-6col-xs-12">
          <div class="faq-details">
            <div class="panel-group" id="accordion">
              <!-- Panel Default -->
    
    <%if(data) {%>
                <% for(var i =0;i<data.length; i++){ %>
<div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title">
											<a data-toggle="collapse" class="" data-parent="#accordion" href="#check<%=data[i].id %>">
                                                <span class="acc-icons"></span><%=data[i].question %> 

											</a>
										</h4>
                </div>
                <div id="check<%=data[i].id %>" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>
               <%= data[i].answer %>
                      
                    </p>
                  </div>
                </div>
                </div>
	<%}%><%}%>
         
        
            </div>
          </div>
        </div>

      </div>
      <!-- end Row -->
    </div>
  </div>
          </section>
  <div class="wellcome-area">
    <div class="well-bg">
      <div class="test-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wellcome-text">
              <div class="well-text text-center">
                <h2>Cant Find your Answer?  <a href="/aboutus#contact"  id="sus_submt" style="background:#b4292f"class="btn btn-success eli">Contact North Vista</a></h2>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </main>

 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href="#intro" class="scrollto container"><img src="../BizPage/unipic/logo.png" alt="" title="" width="80%" style="margin-top:-30px;" /></a>   <span style="color:;font-style:italic;font-size:15px;">&nbsp&nbsp&nbsp&nbsp A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>
           
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/home">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/faq">FAQ</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/eligibility-form/new">Eligibility Form</a></li>
            </ul>
          </div>
              <div class="col-lg-3 col-md-6 footer-links">
            <h4>Dubai Office Address</h4>
             <p>
              Dusseldorf Business Point Building, Suite 508
front of Mall of Emirates
Barsha 1, Dubai
U.A.E. <br>
              <strong>Phone:</strong>  +971-55-99-95775<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Canada Address </h4>
            <p>
              170 Robert Speck Pkwy #204, Mississauga, ON L4Z 3G1 <br>
              <strong>Phone:</strong> +1 (647) 660-5758<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
              <hr >
              

            <div class="social-links">
              <!--<a href="@NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>-->
              <a href=" http://www.facebook.com/nvstudentcounselling/" class="facebook"><i class="fa fa-facebook"></i></a>
                 <a href="https://twitter.com/NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/nvcounselling/" class="facebook"><i class="fa fa-instagram"></i></a>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NorthVista</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
       
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- JavaScript Libraries -->
 <script src="../BizPage/lib/jquery/jquery.min.js"></script>
  <script src="../BizPage/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../BizPage/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../BizPage/lib/easing/easing.min.js"></script>
  <script src="../BizPage/lib/superfish/hoverIntent.js"></script>
  <script src="../BizPage/lib/superfish/superfish.min.js"></script>
  <script src="../BizPage/lib/wow/wow.min.js"></script>
  <script src="../BizPage/lib/waypoints/waypoints.min.js"></script>
  <script src="../BizPage/lib/counterup/counterup.min.js"></script>
  <script src="../BizPage/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../BizPage/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../BizPage/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../BizPage/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../BizPage/js/main.js"></script>

</body>
</html>
