

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../BizPage/img/favicon.png" rel="icon">
  <link href="../BizPage/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../BizPage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../BizPage/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../BizPage/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../BizPage/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../BizPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../BizPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../BizPage/css/style.css" rel="stylesheet">
<script src="../BizPage/lib/jquery/jquery.min.js"></script>
  <script src="../BizPage/lib/jquery/jquery-migrate.min.js"></script>
  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
<style>


video, .video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

    #life { 
	font: bold 200% monospace;
	font-family: "Montserrat", sans-serif;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(20, end),
	           blink-caret 3s step-end infinite alternate;
}
.video-overlay {
  background: rgba(57, 57, 57, 0.5);
}

.content {
  position: rlative;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* YouTube Link */
.youtube-link {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  text-align: center;
  border-bottom: 1px solid #CCC;
  font-family: Arial;
}

.youtube-link a {
  text-decoration: none;  
  color: #CCC;
  display: inline-block;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
}


@media(max-height: 400px) {
  .youtube-link {
    display: none;
  }
}


</style> 
<div class="container">
    <video  id="gf" autoplay controls  >
      <source src="../video.mp4" type="video/mp4">
    </video>
   <script>
$(document).ready(function(){
      $("#gf").show();
});

</script>
   

   
  </div>
 <div class="content" style="visibility:none">
    
     
    </div>
  <!--==========================
    Header
  ============================-->
 <header id="header">
    <div class="container-fluid">

      
    
     <a href="/home" class="scrollto container"><img src="../BizPage/unipic/logo.png" alt="" title="" width="12%" style="margin-top:-30px;display:inline-block" /></a>   <span style="color:white;font-style:italic;font-size:14px;margin:0;">A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>


       
       <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a  href="/home">Home</a></li>
          <li ><a  href="/aboutus">About Us</a></li>
             <li  class="menu-has-children "><a  href="">Students</a>
            <ul>
                 <li><a  href="/how-it-works">How to Apply?</a></li>
             
              <li><a href="/eligibility-form/new">Check Elegiblitity</a></li>
                 <li  class="menu-active"><a href="/life-in-canada">Life in Canada</a></li>
                 <li><a href="search">Search Institutes</a></li>
            </ul>
          </li>
   <li  class="menu-has-children "><a  href="/faq">FAQ</a>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->



  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
   
        <div style="margin-top:100px" class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                
                
                <h2 class="title" ><strong>About Canada</strong></h2>
            <p>
    Canada is with no doubt a unique experience on its own. Mostly known due to its vicinity with their southern neighbors. There are many things that go usually unnoticed by people, besides Toronto and the abundant nature of Canada is mostly known for having extensive greens and for welcoming people from everywhere in the world.  This makes it a very enrichening experience for both locals and internationals who can always find something new things to enjoy in Canada. Therefore, many people choose Canada over other countries to study and work and thus, explain why Canada enjoys such a high international student-to-population ratio (over 1%, only being matched by Australia). People living in Canada are mostly educated, respectful. Canada is also a multicultural country
            </p>
           
          

            </div>
          </div>
        </div>
      </div>
    </div>
      <hr>
        <div style="margin-top:40px" class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                
                
 <h2 class="title"><strong>Facts About Canada</strong></h2>
            <ul>
            <li>It was first colonized by the French, later by the British</li>
                <li>Also, world’s largest coastline and binational, undefended border
</li>
                <li>80% of its habitants occupy 20% of the country</li>
                <li>90% percent of the country is occupied by forests and tundra</li>
                <li>Home 20% of the world’s fresh water</li>
                <li>Has 10 provinces and 3 territories (territories that belong to natives)</li>
                <li>Its main city is Ottawa (not Toronto), but it has 3 CMAs – Montreal, Toronto and Vancouver (the last 2 being included into the top 10 of the most liveable cities on the world and home to world-ranked universities and colleges)</li>
                <li>Montreal is the second largest French-speaking province in the world
</li>
            </ul>


            </div>
          </div>
        </div>
      </div>
    </div>
      <hr>
          <div style="margin-top:30px" class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                
                
 <h2 class="title"><strong>Languages</strong></h2>
            <p>
          <?php echo $language ?>

            </p>
        

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--==========================
      Services Section
    ============================-->
      <hr>
                 <div style="margin-top:30px" class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                
                
                <h2 class="title"><strong>Climate</strong></h2>
            <p>
        In Canada, there are four different seasons:

winter
spring
summer
autumn (fall)
The Atlas of Canada has information on Canada’s geography and climate. You can also see the weather forecasts for every city and town in Canada.<br />

<Strong>Winter</Strong><br />

Winter is very cold in most places with temperatures often below zero degrees Celsius. Snow covers the ground from around December to March or April. In southwest British Columbia (around Victoria and Vancouver), rain is more common in winter than snow.

Depending on where you’re immigrating from, you may be quite surprised by the cold and snow during your first Canadian winter. With the right clothing, you’ll be prepared to enjoy the unique beauty of a Canadian winter. Be sure to buy:

a hat,
boots,
gloves,
a winter coat,
                <br />
<Strong>Summer</Strong><br />

Summer lasts from around June to September and the weather varies from warm to hot. Daytime temperatures are between 20 and 30 degrees Celsius or Centigrade (68 and 86 degrees Fahrenheit) or higher. In southern Ontario and Quebec, it can often be very humid.
                <br />
              <Strong>Fall and Spring</Strong><br />

Fall and spring are transition seasons. This means the weather starts getting colder or warmer, and there is a lot of rain.

            </p>
        

            </div>
          </div>
        </div>
      </div>
    </div>
      
            <hr>
                 <div style="margin-top:30px" class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                
        <h1 id="wb-cont" dir="ltr"><strong>The Canadian people</strong></h1>
<div>
<div class="mwsbodytext text parbase section">&nbsp;</div>
<div class="mwsbodytext text parbase section">
<p>Immigration has been a key part in Canadian society&rsquo;s growth throughout our nation&rsquo;s history.</p>
<p>Canada&rsquo;s population of around 31&nbsp;million people reflects a cultural, ethnic and linguistic mix that is unique in the world.</p>
<p>Canadian multiculturalism is based on the belief that all citizens are equal and that diversity makes us stronger as a country.</p>
</div>
<div class="mwsbodytext text parbase section">
<h2>Founding peoples</h2>
</div>
<div class="mwsbodytext text parbase section">
<p>The founding peoples of Canada include:</p>
<ul>
<li>Aboriginal peoples</li>
<li>French Canadians</li>
<li>English Canadians</li>
</ul>
</div>
<div class="mwsbodytext text parbase section">
<h3>Aboriginal peoples</h3>
</div>
<div class="mwsbodytext text parbase section">
<p>Aboriginal peoples had family living in Canada before European explorers, pioneers and settlers arrived. There are three different groups of Aboriginal peoples:</p>
<ul>
<li>First Nations</li>
<li>Inuit</li>
<li>M&eacute;tis</li>
</ul>
</div>
<div class="mwsbodytext text parbase section">
<h3>French Canadians</h3>
</div>
<div class="mwsbodytext text parbase section">
<p>French Canadians are the descendants of French settlers and include:</p>
<ul>
<li>Acadians</li>
<li>Quebecers</li>
<li>people in smaller French-speaking communities across Canada</li>
</ul>
<p>The Acadians are descendants of French colonists who settled 400 years ago in what is now the Atlantic Region.</p>
<p>Quebecers (&ldquo;<span lang="fr">Qu&eacute;b&eacute;cois</span>&rdquo; in French) live in Quebec. Most are French-speaking descendants of French settlers from the 17<sup>th</sup> and 18<sup>th</sup> centuries who brought many French traditions with them.</p>
<p>Quebecers have a unique identity, culture and language. In 2006, the Canadian Parliament recognized the Qu&eacute;b&eacute;cois form a nation within a united Canada. One million English-speaking Anglo-Quebecers form an important part of Quebec society.</p>
</div>
<div class="mwsbodytext text parbase section">
<h3>English Canadians</h3>
</div>
<div class="mwsbodytext text parbase section">
<p>Most English Canadians are descendants of English, Welsh, Scottish and Irish people. These include settlers, soldiers and migrants who came to Canada from the 17<sup>th</sup> to the 20<sup>th</sup> century. Generations of these pioneers helped bring British political customs and traditions to Canada.</p>
</div>
<div class="mwsbodytext text parbase section">
<h2>Newcomers</h2>
</div>
<div class="mwsbodytext text parbase section">
<p>Most Canadians were born in Canada and came from the original founding peoples. But over the past 200 years, many newcomers have helped to build and defend this country&rsquo;s way of life.</p>
<p>Today, many ethnic and religious groups live and work in peace as proud Canadians. Until the 1970s, most immigrants came from European countries. Since then, the majority have come from Asian countries.</p>
<p>About 20 per cent of Canadians were born outside Canada. In Toronto, Canada&rsquo;s largest city, this number is over 45 per cent. Immigrants like you are a valued part of Canada&rsquo;s multicultural society.</p>
<p>For more information on the Canadian people, read the <a href="http://www.discovercanada.gc.ca/">Discover Canada</a> guide.</p>
</div>
</div>    
                <hr>
 <h2 class="title"><strong>Higher Education</strong></h2>
              <p>
          Post-secondary education includes many types of formal teaching program including academic, vocational, technical, or professional education which is primarily offered by universities, colleges, and special institutes. Canada like the rest of developed countries is moving step-by-step towards a structural and functional academic country, developing experts and masterminds where needed.

            </p>
        
   <p>
         Masters degrees, MA (i.e. Masters of Arts) or MSc (i.e. Masters of Science) are commonly referred to as postgraduate degrees. MA stands for the arts, humanities and social science, while MSc is for life sciences and chemistry. Separately, there are also specialist Master degrees for education (MEd), music (MMus) and business administration (MBA).


            </p>
                
                   <p>
        Canada’s Universities and graduate schools are open to international students. Thanks to the developments in education in the past decade, thousands of internationals interested in postgraduate degrees are attracted to Canada.


            </p>
                          <p>
       As opposed to the US, UK and Australia, Canada offers an array of adequate undergraduate and postgraduate study programs for less: lower tuition fees and a lower cost of living will get you a degree without the quality of education being compromised.



            </p>
                <p>
      The academic year tends to run from September each year, but some universities have significant starting dates for their postgraduate degrees, which can start in January or in May.
            </p>
                        <p>
      Commonly, masters last for a whole academic year including an obligatory internship added to the overall duration. Side to side with lectures and instructive theories, the programs include brainstorming and interactive classes, group projects, close observation, and practical engagement.  Most masters will include a dissertation as an aftermath, which is sometimes replaced by a consultancy project (if your subject area is a professional one), which will cover a massive part of the program’s credits.
            </p>
        
   
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--==========================
      Services Section
    ============================-->
      <hr>
        

 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href="#intro" class="scrollto container"><img src="../BizPage/unipic/logo.png" alt="" title="" width="80%" style="margin-top:-30px;" /></a>   <span style="color:;font-style:italic;font-size:15px;">&nbsp&nbsp&nbsp&nbsp A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>
           
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/home">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/faq">FAQ</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/eligibility-form/new">Eligibility Form</a></li>
            </ul>
          </div>
              <div class="col-lg-3 col-md-6 footer-links">
            <h4>Dubai Office Address</h4>
             <p>
              Dusseldorf Business Point Building, Suite 508
front of Mall of Emirates
Barsha 1, Dubai
U.A.E. <br>
              <strong>Phone:</strong>  +971-55-99-95775<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Canada Address </h4>
            <p>
              170 Robert Speck Pkwy #204, Mississauga, ON L4Z 3G1 <br>
              <strong>Phone:</strong> +1 (647) 660-5758<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
              <hr >
              

            <div class="social-links">
              <!--<a href="@NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>-->
              <a href=" http://www.facebook.com/nvstudentcounselling/" class="facebook"><i class="fa fa-facebook"></i></a>
                 <a href="https://twitter.com/NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/nvcounselling/" class="facebook"><i class="fa fa-instagram"></i></a>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NorthVista</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
       
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../BizPage/lib/jquery/jquery.min.js"></script>
  <script src="../BizPage/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../BizPage/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../BizPage/lib/easing/easing.min.js"></script>
  <script src="../BizPage/lib/superfish/hoverIntent.js"></script>
  <script src="../BizPage/lib/superfish/superfish.min.js"></script>
  <script src="../BizPage/lib/wow/wow.min.js"></script>
  <script src="../BizPage/lib/waypoints/waypoints.min.js"></script>
  <script src="../BizPage/lib/counterup/counterup.min.js"></script>
  <script src="../BizPage/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../BizPage/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../BizPage/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../BizPage/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

