
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <title>North Vista Student Counselling</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../BizPage/img/favicon.png" rel="icon">
  <link href="../BizPage/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../BizPage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../BizPage/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../BizPage/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../BizPage/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../public//lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../BizPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../BizPage/css2/search.css" rel="stylesheet">
<link href="../BizPage/css/slider.css" rel="stylesheet">
<link href="../BizPage/css/stepper.css" rel="stylesheet">
</head>

<body>

  <!--==========================
    Header
  ============================-->
 <header id="header">
    <div class="container-fluid">

      
    
     <a href="/home" class="scrollto container"><img src="../public/BizPage/unipic/logo.png" alt="" title="" width="12%" style="margin-top:-30px;display:inline-block" /></a>   <span style="color:white;font-style:italic;font-size:14px;margin:0;">A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>
     
        <!-- Uncomment below if you prefer to use an image logo -->
        



       <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li  ><a  href="/home">Home</a></li>
          <li ><a  href="/aboutus">About Us</a></li>
             <li  class="menu-has-children menu-active"><a  href="">Students</a>
            <ul>
                 <li><a  href="/how-it-works">How to Apply?</a></li>
             
              <li><a href="/eligibility-form/new">Check Elegiblitity</a></li>
                 <li><a href="/life-in-canada">Life in Canada</a></li>
                 <li><a href="search">Search Institutes</a></li>
            </ul>
          </li>
   <li  class="menu-has-children "><a  href="/faq">FAQ</a>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
    
  <section id="intro">
    <div class="intro-container">
        
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">


        <ol class="carousel-indicator"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../public/BizPage/img/adult-business-meeting-business-people-1438072.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content" style="margin-top:50px">
                  <h2 style="font-size:30px">Search Your Favourite Universities or colleges</h2>
<p style="width:100%"></p>
  
  

                  
    
                   
               
              </div>
            </div>
          </div>



        </div>

     

      </div>
    </div>
  </section><!-- #intro -->
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm "method="post">
                                <div class="card-body row  align-items-center">
                                    <div class="col-auto">
                                        <i class="fa fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" id="myInput" name="search" placeholder="Seach Universities by name or location">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button id ="myBtn" class="btn btn-lg btn-success eli" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                    <script>
var input = document.getElementById("myInput");
input.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("myBtn").click();
    }
});
</script>
                                </div>
                            </form>
                               <p style="text-decoration:underline;margin-top:10px;p:cursor:pointer"data-toggle="modal" data-target="#exampleModal">Advance Search</p>
                        </div>
                        <!--end of col-->
                    </div>
</div>
               
  <main id="main">

    <!--==========================

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">


        <div class="row">
         
          </div>
        </div>


<!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Advance Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="accordion" id="accordionExample">

  <div class="card">
       
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed " style="color: #b4292f;"type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          University/College Filter  <i class="ion-ios-arrow-down"></i>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <form class="card card-sm"method="post">
       School Type: &nbsp
         <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="Un" id="inlineCheckbox1" value="Un">
  <label class="form-check-label" for="inlineCheckbox1">University</label>
          </div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="Un"id="inlineCheckbox2" value="Co">
  <label class="form-check-label" for="inlineCheckbox2">College</label>
</div>
               <button type="submit" class="btn btn-primary eli">Search</button>
          </form>
      </div>
        <form class="card card-sm" method="post">
             <div style="margin-top:-30px" class="card-body">
          <div class="form-group" style="width:50%">
  <label  style="display:inline-block"for="sel1">Province:</label>
  <select  class="form-control" id="sel1" name="province">
       <option>Select One</option>
    <option value="ontario">Ontario - ON</option>
    <option value="quebec">Quebec - QC</option>
    <option value="british columbia">British Columbia - BC</option>
       <option value="alberta" >Alberta - AL</option>
       <option value="nova scotia">Nova Scotia - NS</option>
       <option value="saskatchewan">Saskatchewan - SK</option>
       <option value="newfoundland and labrador">Newfoundland and Labrador NL</option>
      
    
  </select>
</div>
 <button type="submit" class="btn btn-primary eli">Search</button>
 
      </div>
         </form>
        <form class="card card-sm"method="post">
                     <div style="margin-top:-30px" class="card-body">
          <div class="form-group" style="width:50%">
  <label  style="display:inline-block"for="sel1">Universities/Colleges:</label>
  <select  style="display:inline-block" class="form-control" id="sel15" name="institute">
       <option>Select One</option>
       <%if(data) {%>
                <% for(var i =0;i<data.length; i++){ %>
      <option value="<%=data[i].name%>"><%=data[i].name%></option>
      <%}%>    <%}%>
  </select>
</div>

 <button type="submit " class="btn btn-primary eli">Search</button>
      </div>
        
        </form>
    </div>
      
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed " style="color: #b4292f;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Program Filter <i class="ion-ios-arrow-down"></i>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
                                             <form class="card card-sm" method="post">
                     <div style="margin-top:-30px" class="card-body">
                         
          <div class="form-group" style="width:50%">
  <label  style="display:inline-block"for="se1">Term*:</label>
  <select  style="display:inline-block" class="form-control" id="se13" name="term" required>
    <option value="septemberIntake">Fall</option>
    <option value="JanuaryIntake">Winter</option>
        <option value="JuneIntake">Summer</option>
    
  </select>
</div>
      </div>
                            <div style="margin-top:-30px" class="card-body">

          <div class="form-group" style="width:50%">
  <label  style="display:inline-block"for="se1">Area of Study:</label>
  <select  style="display:inline-block" class="form-control" id="se12" name="programs">
 
        <%if(data2) {%>
                <% for(var i =0;i<data2.length; i++){ %>
      <option value="<%=data2[i].id%>"><%=data2[i].program_name%></option>
      <%}%>    <%}%>
  </select>
</div>
                                <button type="submit" class="btn btn-primary eli">Search</button>
                                                 </div>
                                </form>
      
                              <div style="margin-top:-30px" class="card-body">
       
      </div>
           


      </div>
    </div>
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>

        <div class="row portfolio-container"style="overflow-y: scroll; max-height: 100%;">

           
        </div>

      </div>
    </section><!-- #portfolio -->

 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href="#intro" class="scrollto container"><img src="../BizPage/unipic/logo.png" alt="" title="" width="80%" style="margin-top:-30px;" /></a>   <span style="color:;font-style:italic;font-size:15px;">&nbsp&nbsp&nbsp&nbsp A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>
           
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/home">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/faq">FAQ</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/eligibility-form/new">Eligibility Form</a></li>
            </ul>
          </div>
              <div class="col-lg-3 col-md-6 footer-links">
            <h4>Dubai Office Address</h4>
             <p>
              Dusseldorf Business Point Building, Suite 508
front of Mall of Emirates
Barsha 1, Dubai
U.A.E. <br>
              <strong>Phone:</strong>  +971-55-99-95775<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Canada Address </h4>
            <p>
              170 Robert Speck Pkwy #204, Mississauga, ON L4Z 3G1 <br>
              <strong>Phone:</strong> +1 (647) 660-5758<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
              <hr >
              

            <div class="social-links">
              <!--<a href="@NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>-->
              <a href=" http://www.facebook.com/nvstudentcounselling/" class="facebook"><i class="fa fa-facebook"></i></a>
                 <a href="https://twitter.com/NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/nvcounselling/" class="facebook"><i class="fa fa-instagram"></i></a>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NorthVista</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
       
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
 <script src="../BizPage/lib/jquery/jquery.min.js"></script>
  <script src="../BizPage/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../BizPage/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../BizPage/lib/easing/easing.min.js"></script>
  <script src="../BizPage/lib/superfish/hoverIntent.js"></script>
  <script src="../BizPage/lib/superfish/superfish.min.js"></script>
  <script src="../BizPage/lib/wow/wow.min.js"></script>
  <script src="../BizPage/lib/waypoints/waypoints.min.js"></script>
  <script src="../BizPage/lib/counterup/counterup.min.js"></script>
  <script src="../BizPage/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../BizPage/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../BizPage/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../BizPage/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../BizPage/js/main.js"></script>

</body>
</html>
